@font-face {
    font-family: 'rubik';
    src: url("../fonts/rubik.ttf");
}

@font-face {
    font-family: 'jaini';
    src: url("../fonts/JainiPurva-Regular.ttf");
}



* {
    margin: 0 0;
    box-sizing: border-box;
}

#navbar-parent {
    top: 0;
    font-family: rubik;
    z-index: 100;
    color: white;
    display: flex;
    left: 0;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    box-shadow: 0 0 5px 1px #000000;
    height: 60px;
    position: fixed;
    padding: 20px 20px;
    width: 100vw;
}

#navbar-parent img {
    width: 37px;
    height: 37px;
    padding: 5px 5px;
    border-radius: 50%;
    cursor: pointer;
}

#navbar-parent img:hover {
    background-color: rgba(0, 0, 0, 0.29);
}

#logo {
    font-size: 30px;
    text-decoration: none;
    font-family: jaini;
    color: transparent;
    background: linear-gradient(to right, #de0c0c, #de620c);
    background-clip: text;
}

#navbar {
    display: flex;
    align-items: center;
}

#navbar a {
    color: white;
}

.account-dropdown {
    margin-top: 5px;
    right: 20px;
    position: absolute;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    background-color: #333333;
    box-shadow: 0 0 5px 1px #000000;;
    border-radius: 2px;
    font-size: 20px;
    transition: opacity 0.3s;
}

.account-dropdown a {
    display: block;
    text-decoration: none;
    padding: 10px 10px;
}

.account-dropdown a:hover {
    background-color: #1f1f1f;
}

.account.active .account-dropdown {
    visibility: visible;
    opacity: 1;
}
