@font-face {
    src: url("../fonts/poppins.ttf");
    font-family: 'poppins';
}

body {
    background-color: #333333;
}

.container {
    max-width: 940px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.logo {
    width: 200px;
    margin-bottom: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.page {
    text-align: center;
    display: block;
    background-color: #F71735;
    text-transform: uppercase;
    color: white;
    padding: 15px 15px;
    font-family: poppins;
    background-size: 200% 200%;
    font-size: 30px;
    display: block;
    margin-top: 15px;
    text-decoration: none;
    transition: all ease 0.2s;
}

.page:hover {
    transform: translate(-10px, -10px);
}

p {
    text-indent: 40px;
    color: white;
    margin-bottom: 30px;
    font-size: 25px;
    font-family: poppins;
}

.underlay {
    box-shadow: 0 0 0 1px inset #F71735;
}

p a {
    color: #3c7aff;
    text-decoration: underline;
}

@media (max-width: 940px) {
    .container {
        width: 100%;
    }
}
