@font-face {
    src: url("../fonts/rubik.ttf");
    font-family: 'rubik';
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.text-editor-container {
    background-color: #333333;
    width: 90vmin;
    border-radius: 10px;
}
.options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}
button {
    height: 28px;
    width: 28px;
    display: grid;
    place-items: center;
    border-radius: 3px;
    border: none;
    background-color: #333333;
    cursor: pointer;
    outline: none;
    color: white;
}
select {
    padding: 7px;
    border-radius: 3px;
    background-color: #494949;
    color: white;
    border: none;
}
.options label,
.options select {
    font-family: "poppins", sans-serif;
}
.input-wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
}
input[type="color"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 40px;
    height: 28px;
    border: none;
    cursor: pointer;
    outline: none;
}
input[type="color"]::-webkit-color-swatch {
    border-radius: 15px;
}
input[type="color"]::-moz-color-swatch {
    border-radius: 15px;
}
#text-input {
    margin-top: 10px;
    font-family: rubik;
    border: 1px solid #494949;
    background-color: #494949;
    border-radius: 5px;
    padding: 20px;
    height: 50vh;
    color: white;
}

#text-input:focus {
    outline: none;
    box-shadow: 0 0 3px 1px #3c7aff;
}

.active {
    background-color: #494949;
}